.background-color{
    background-color: rgba(114, 192, 114, 0.42);
    margin: 20px;
}
.backTheme{
    background-color: rgba(255, 255, 255, 0.52);
}
.btnLogin{
    background-color: rgb(171, 199, 159);
    color: #100e0e;
    width: 185px;
    margin-top: 5px;
    padding: 2px;
    border-radius: 5px;

}